* {
	margin: 0;
}

main {
	display: grid;
	margin: 0 5px;
	grid-template-columns: 100%;
	grid-template-areas:
		"header"
		"main"
		"footer";
	padding: 10px;
}

img {
	width: 100%;
}

/**********/
/* Header */
/**********/

#logo img {
	width: 40%;
	height: 7vh;
	padding: 0.3em 0.4em;
	cursor: pointer;
}

/***********************/
/* navigation og links */
/***********************/

nav {
	display: block;
	text-align: right;
	padding-right: 2em;
}

.nav_link {
	color: black;
	list-style-type: none;
	text-decoration: none;
	width: 100%;
	padding: 0.3em;
	flex-wrap: wrap;
	flex-direction: column;
	display: block;
	font-family: sans-serif;
	cursor: pointer;

}

.nav_link:hover {
	color: red;
}

.burger {
	padding: 0em 0.5em;
	width: 8%;
}

p a {
	text-decoration: none;
}

/****************/
/* splash image */
/****************/

section #splash_image {
	background-image: url(images/examplesplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 40% 0%;
	width: 100%;
	height: 100vh;
}

/*********************/
/* text/font on site */
/*********************/

h1 {
	font-family: sans-serif;
	text-align: center;
}

h2 {
	font-family: sans-serif;
	text-align: center;
}

h3 {
	text-align: center;
}

.innholdstekst {
	margin: 0.5em;
}

/******************/
/* button styling */
/******************/

.buttons {
	text-align: center;
	padding-bottom: 1em;
	padding-top: 1em;
}

.buttons a {
	text-decoration: none;
	box-shadow: inset 0px 1px 0px 0px #54a3f7;
	background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color: #007dc1;
	border-radius: 3px;
	border: 1px solid #124d77;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 1.5em;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #154682;
}

.buttons a:hover {
	background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color: #0061a7;
}

.buttons a:active {
	position: relative;
	top: 1px;
}

/***********/
/* Content */
/***********/

.kategorier {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr 1fr;
	position: relative;
}

.kategorier p {
	position: absolute;
	color: red;
	font-weight: 500;
	/* will be changed */
	font-family: sans-serif;
	font-size: 2em;
}

.kategori_el {
	padding: 0.3em;
}

.kategori_trekk {
	padding: 0.3em;
}


.kategori_city {
	padding: 0.3em;
}

.kategori_race {
	padding: 0.3em;
}


/**********/
/* Footer */
/**********/

footer {
	text-align: center;
	padding-bottom: 0.3em;
	margin: auto;
}

footer #contact_info {
	display: inline;
	text-align: center;
}

footer #contact_info a {
	text-decoration: none;
	color: darkblue;
}

#socialmedia_buttons .some-fb {
	display: inline-block;
	padding: 0em 0.5em;
	width: 35px;
	height: 45px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(images/iconmonstr-facebook-3-240.png);
}

#socialmedia_buttons .some-tw {
	display: inline-block;
	padding: 0em 0.5em;
	width: 35px;
	height: 45px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(images/iconmonstr-twitter-3-240.png);
}

#socialmedia_buttons .some-yt {
	display: inline-block;
	padding: 0em 0.5em;
	width: 35px;
	height: 45px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(images/iconmonstr-youtube-8-240.png);
}

/*****************/
/* Responsivitet */
/*****************/

@media only screen and (min-width: 400px) {}

@media only screen and (min-width: 500px) {}

@media only screen and (min-width: 800px) {

	#logo img {
		width: 25em;
		height: auto;
	}

	nav {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}

	.nav_link {
		width: auto;
		margin-right: 1em;
		font-size: 1.5em;
		font-weight: 500;
	}

	.nav_link:last-child {
		margin-right: 0;
	}

	.buttons a {}

}

@media only screen and (min-width: 1200px) {}
